<div>
    <h1>Create New Incident</h1>
    Location: <input  (input)="onInputChangeL($event)"><br>
    Name of Offender: <input  (input)="onInputChangeN($event)"> <br>
    Name of Reporter: <input  (input)="onInputChangeR($event)"> <br>
    Phone Number of Reporter: <input  (input)="onInputChangeNu($event)"> <br>
    Additional Info: <input  (input)="onInputChangeI($event)"> <br>
    (Optional) Link to Image of Incident: <input  (input)="onInputChangeLi($event)"> <br>
    Use the Button Above to submit when the information entered is correct.
</div>
