<div>
    <h1>Create New Incident</h1>
    Location:
    <select (change)="onInputChangeL($event)">
        <option value="" disabled selected>Select Location</option>
        <option *ngFor="let location of locationsArray" [value]="location">{{ location }}</option>
    </select><br>
    Name of Offender: <input  (input)="onInputChangeN($event)"> <br>
    Name of Reporter: <input  (input)="onInputChangeR($event)"> <br>
    Phone Number of Reporter: <input  (input)="onInputChangeNu($event)"> <br>
    Additional Info: <input  (input)="onInputChangeI($event)"> <br>
    (Optional) Link to Image of Incident: <input  (input)="onInputChangeLi($event)"> <br>
    Use the button above to submit when the information entered is correct.
</div>
